:root {
    --clr-primary:#3777aa;
    --clr-primary-light:#2284d3;
    --clr--white:#ffffff;
    --clr-lightwhite:#f0f0f0;
    --clr-shadow:#00000029;
    --clr-black:#333333;
    --clr-black-30:#2220204d;
    --clr-black-80:#222020cc;
    --clr-black-90:#212020e6;
    --clr-pink-light:#fdf2f2;
    --clr-blue-light:#f2fdfb;
    --clr-aliceblue:#f0f8ff;
    --clr-aqua:#00ffff;
    --clr-blue:#0000ff;
    --clr-orange:#ff8c00;
    --clr-gold:#ffd700;
    --clr-green:#008000;
    --clr-orahge-red:#ff4500;
    --clr-yellow:#ffff00;
    --clr-red:#ff0000;
    --clr-royalblue:#4169e1;
    font-family: Arial, Helvetica, sans-serif;
    --box-shadow-light: 0px 3px 7px var(--clr-shadow);
    --box-shadow-dark: 0px 3px 7px var(--clr-black-30);
    --transition: all .3s linear;
    --radius : 4px;
 }
 
 /* golbal styles */
 *,
 ::after,
 ::before {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
 }
 *:focus {
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(--clr-primary);
 }
 
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
  }
 img {
    display: block;
 }
 
 .wrapper {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
 }
 .display-block {
    display: block !important;
 }
 
 .text-container {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .text-center {
    text-align: center;
 }
 .text-left {
    text-align: left;
 }
 
 .text-right {
    text-align: right;
 }
 @media screen and  (max-width: 991px){
    .full-width-mobile{
       width: 100%;
    }
 }
 
 @media screen and (min-width: 992px) {
    .full-width-desktop {
       width: 100%;
    }
 }
 
 .light-pink-background {
    background: var(--clr-pink-light);
 }
 
 .light-blue-background {
    background: var(--clr-blue-light);
 }
 .section-title .tittle {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
    color: var(--clr-royalblue);
 }
 
 .section-tittle .underline {
    width: 60px;
    height: 5px;
    background-color:var(--clr-primary-light) ;
    margin-left: auto;
    margin-right: auto;
 }
 
 .button-dark, .button-light, .button-mor, .button-aft, .button-eve, .button-nig {
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 45px;
    transition: var(--transition);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0px 20px 0px 20px;
    min-width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
 }
 .button-mor {
   background-color:skyblue ;
   color:black ;
 }
 .button-aft {
   background-color:lime ;
   color: #f0f0f0;
 }
 .button-eve {
   background-color: green;
   color:white ;
 }
 .button-nig {
   background-color:lightyellow ;
   color: indigo;
 }
 .button-dark {
    background-color: yellow;
    color: red;
 }
 
 .button-light {
    background-color: red;
    color: yellow;
 }
 
 
 .button-dark:hover {
    background-color: yellowgreen;
 }
 .button-light:hover {
    background-color: orange;
 }
 .primary-input .primary-textarea {
    height: 45px;
    font-size: 16px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: var(--radius);
    border: 1px solid var(--clr-shadow);
    letter-spacing: 1px;
 }
 .primary-textarea {
    height: unset;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: vertical;
 }